/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#f5f5f5;
}
nav{
	display:flex;
	justify-content:center;
	align-items: center;
	width:100vw;
	height:70px;
	background-color:#011e29;
	color:white;
	
}

.main{
	display:flex;
	justify-content:space-between;
}


.latest-news-section{
	display:flex;
	flex-direction:column;
	justify-content: space-around;
    align-items: center;
	width:500px;
	height:100px;
	background-color:white;
	padding:20px;
    margin: 10px;
    border-radius: 10px;	
}

.main-article{
	display:flex;
	flex-direction:column;
    justify-content: center;
	align-items:center;
	width:800px;
	height:100px;
	background-color:white;
	padding:20px;
    margin: 10px;
    border-radius: 10px;	
}
.main-article>h3{
    margin: 20px;
}

.pictorial-news-section{
	display:flex;
	flex-direction:column;
    justify-content: space-evenly;
	align-items:center;
	width:400px;
	height:700px;
	background-color:white;
	padding:20px;
    margin: 10px;
    border-radius: 10px;
}

.pictorial>div{

height:200px;
width: 300px;
overflow: hidden;

}
.pictorial>img{
 object-fit: cover;

}


